.App {
  text-align: center;
}

.game-area {
  display: flex;
}

.hand-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hand {
  flex: 1;
}

.card {
  height: 50px;
  width: 40px;
}

.board {
  display: grid;
  grid-template-columns: repeat(19, 20px);
  grid-template-rows: repeat(19, 20px);
  grid-gap: 5px;
  
  /* center the board */
  margin: 0 auto;
  margin-top: 25px;
  width: 470px;
  height: 470px;

  /* add a circular border with padding*/
  border-radius: 50%;
  border: 1px solid black;
  padding: 60px;

  /* hide the direct background image */
  background-image: url('./Images/light-wood-background.webp');
}

.start-game-area {
  display: flex;
}

.start-game {
  justify-content: center;
}

.grid-square {
  height: 20px;
  width: 20px;
}

.board-space {
  border-radius: 50%;
  border: 1px solid black;
  font-size: xx-small;
  /* center the font */
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  /* make the background color a light red */
  background-color: #ffcccc;
}

.blue {
  background-color: #ccccff;
}

.green {
  background-color: #ccffcc;
}

.yellow {
  background-color: rgb(231, 231, 187);
}

.yellow-marble {
  background-color: rgb(132, 132, 1);
}

.red-marble {
  background-color: rgb(110, 4, 4);
}

.blue-marble {
  background-color: rgb(0, 0, 113);
}

.green-marble {
  background-color: rgb(3, 106, 3);
}

.enabled {
  border: 2px solid yellow;
}